html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ldBar-label {
  color: rgb(246, 255, 116);
  font-family: "varela round";
  font-size: 2.5em;
  font-weight: 900;
}

.jumboImg {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-position: 100%;
  height: 100vh;
  margin-bottom: 0 !important;
}

#logo {
  width: 40vh;
  height: auto;
}

#services {
  width: 100% !important;
  margin-top: 0;
  padding-bottom: 2em;
  background-color: #b1b1b1;
}

#proyects {
  width: 100% !important;
  margin-top: 0;
  padding-bottom: 2em;
}

.imgCarrusel {
  width: 15%;
  height: auto;
}

.card {
  min-height: 60vh;
  border-width: 0.5em !important;
  border-color: white;
  text-align: justify;
  background-color: #b1b1b1 !important;
  .card-body .card-title {
    text-align: center;
  }
}

.card:hover {
  box-shadow: 3px 3px 3px black;
}

.imgCard {
  text-align: center;
  padding-top: 2em;
}
